th{
    background-color: aqua;
    border-color: rgb(255, 19, 19);
   
}
td{
   
    padding-top: 10px;
    border-collapse: collapse;
    border: solid white;
     background-image: url(cricket.jpg);
}
table ,th{
    border-collapse: collapse;
    text-align: center;
    border-color: white;
    padding-bottom: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: solid white;

    
}